<div class="container col-lg-3 col-md-3 col-sm-12">
    <div class="card card-profil mr-4">
        <div class="card-body">
            <div class="card-avatar m-auto">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/1200px-Anonymous_emblem.svg.png" alt="">
            </div>
            <hr class="my-4">
            <h2 class="text-center mb-4">{{ session.nickname }}</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi consectetur consequuntur deleniti dignissimos dolorem ex exercitationem fugit minus, modi officia placeat, praesentium quod tenetur unde voluptatem, voluptates. Magni, suscipit?</p>
        </div>
    </div>
</div>