<div class="container-sidebar col-lg-2 ">
    <div class="row ml-4">
        <div class="sidebar-category">
            <button class="btn mb-2" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Admin
            </button>
            <div class="sm-collapse" id="collapseExample">
                <div class="card card-body categ">
                    <ul class="list-group list-group-flush ">
                        <li class="list-group-item bg-transparent">
                            <strong>ITEM</strong>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <a href="/Admin/additem" alt="">Add</a>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <strong>USER</strong>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <a href="/Admin/validMission" alt="">Valid Missions</a>
                        </li>
                        <li class="list-group-item bg-transparent">
                            <a href="/Admin/adminUsers" alt="">Delete User</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>