<form method="POST">
    <input type="hidden" value="{{ mission.missionId }}" name="missionId">
        <button type="submit" class="btn btn-xs mt-2 missionBtnTrash">
            <i class="fa fa-trash" aria-hidden="true"></i></button>
</form>