<form method="POST">
    <input type="hidden" value="{{ items.missionId }}" name="id">
        <textarea class="form-control" rows="1" name="solution" required>{{ items.solution }}</textarea>
</div>
    <div class="col-3 missionBox">
        <button type="submit" class="btn btn-sm pull-right mt-4 mr-2 missionBtn">Post your Solution</button>
        <button type="submit" class="btn btn-sm pull-right mt-4 mr-2 missionBtn">Update</button>
    </div>
</form>
